.Gallery {
  margin-top: 2.25em;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apartments {
  margin-top: 1.5em;

  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

@media (min-width: 860px) {
  .apartments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
}

@media (min-width: 1275px) {
  .apartments {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
