.search {
  margin-top: 2.5em;
  display: flex;
  justify-content: center;

  margin: 2.5em 1.6875em 0;
  border-radius: 1em;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search .btn {
  /* width: 100%; */
  background: transparent;
  border: none;
  cursor: pointer;
}

.search .btn--city,
.search .btn--guests {
  padding: 1em 0.5em;

  color: var(--clr-dark-text);
  font-family: var(--ff-secondary);
  font-size: var(--fs-14);
  font-weight: var(--fw-regular);
  border-right: 1px solid hsl(0, 0%, 95%);
  flex: 3;
}

.search .btn--guests {
  color: var(--clr-placeholder-text);
  flex: 2;
}

.search .btn--icon {
  flex: 1;
}

.search-btn-area {
  position: absolute;

  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
}

.btn--main {
  background: var(--clr-button-red);
  border: none;
  border-radius: 1em;
  font-family: inherit;
  color: var(--clr-white);

  padding: 0.75em 2.15em;

  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;

  cursor: pointer;
}

.btn--main:hover,
.btn--main:active {
  background: var(--clr-button-red-hover);
}

.overlay {
  background: var(--clr-white);
  position: fixed;
  top: 0;
  left: 0;

  padding: 1.125em 1em 0.5em;

  height: 80vh;
  width: 100%;
}

.ov__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ov__text {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-12);
}

.btn--overlay {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn--overlay .material-icons-round {
  padding-top: 0.25em;
  color: var(--clr-dark-text);
  font-size: var(--fs-20);
}

.search--overlay {
  flex-direction: column;

  margin: 1em 0;
}

.search--overlay .btn {
  text-align: left;
  padding-left: 1.625em;
}

.search--overlay .btn--city {
  border-bottom: 1px solid hsl(0, 0%, 95%);
}

.icon-search {
  padding-top: 0.25em;
  color: var(--clr-white);
  font-size: var(--fs-28);
  margin-top: -0.25em;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

@media (min-width: 860px) {
  .search {
    margin: 2.5em 0 0;
  }
}
