@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mulish:wght@400;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==================================== */
/* Custom properties and general styles */
/* ==================================== */

:root {
  --ff-main: 'Montserrat', sans-serif;
  --ff-secondary: 'Mulish', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;
  --fs-100: 6.25em;

  /* Text */
  --clr-dark-text: hsla(0, 0%, 20%, 1);
  --clr-gray-1-text: hsla(0, 0%, 31%, 1);
  --clr-gray-2-text: hsla(0, 0%, 51%, 1);
  --clr-placeholder-text: hsla(0, 0%, 74%, 1);
  --clr-white-text: hsla(0, 0%, 95%, 1);

  /* Backgrounds */
  --clr-white: hsl(0, 0%, 100%);

  --clr-star-red: hsla(0, 79%, 63%, 0.72);
  --clr-button-red: hsla(0, 79%, 63%, 0.9);
  --clr-button-red-hover: hsla(0, 72%, 69%, 0.9);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-dark-text);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: 1.2;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ================== */
/* Typography */
/* ================== */

.search {
  font-family: var(--ff-secondary);
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
}

.search--guests {
  color: var(--clr-placeholder-text);
}

.title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-18);
}

.found-stays {
  font-size: var(--fs-14);
  color: var(--clr-gray-1-text);
}

.super-host {
  color: var(--clr-gray-1-text);
  font-weight: var(--fw-bold);
  font-size: var(--fs-10);
  text-transform: uppercase;
}

.description {
  font-size: var(--fs-12);
  color: var(--clr-gray-2-text);
}

.rating {
  color: var(--clr-gray-1-text);
  font-size: var(--fs-12);
}

.info {
  font-size: var(--fs-14);
  font-weight: var(--fw-semi-bold);
}

.signature {
  font-size: var(--fs-12);
  color: var(--clr-gray-2-text);
}

.signature a {
  font-weight: var(--fw-bold);
  color: inherit;
}

/* ================== */
/* Utility styles */
/* ================== */
